
body{
   background-color: #fff;
}

.topo-0{
   background-color: #fff;
   padding: 10px 0 10px 0;
   box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
   width: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/topo.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 20px;
}

.pdate{
   color: #787878;
   font-size: 19px;
   margin-top: 30px;
}

.texto-adv{
   color: #fff;
   font-family: "Noto Sans", serif;
   font-size: 0.75rem;
   font-weight: 500;
}

.img-logo{
   width: 60%;
   height: auto;
   max-width: 200px;
}

.topo-1{
   padding: 40px 0;
}

.titulo-topo-1{
   font-family: "Noto Sans", serif;
   font-weight: 700;
   font-size: 2.8rem;
   line-height: 1.3;
   letter-spacing: -0.05rem;
   margin-bottom: 10px;
   color: #fff;
}

.titulo-topo-1 span{
   color: #850000;   
}

p{
   margin: 0 0 1.25rem;
   font-family: 'Merriweather', serif;
   font-size: 100%;
   font-weight: 400;
   line-height: 1.75;
}

h3{
   font-family: "Noto Sans", serif;
   font-weight: 700;
   font-size: 2.2rem;
   line-height: 1.3;
   letter-spacing: -0.05rem;
   margin: 25px 0;
   color: #212529;
}

.botao{
   border: 2px solid #3dbe2b;
   color: white;
   display: block;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   padding: 15px 25px;
   text-decoration: none;
   border-radius: 10px;
   margin: 20px auto 20px auto;
   background-color: #3dbe2b;
   max-width: 500px;
}

.botao:hover{
   color: #fff;
   background-color: #2e9420;
}

.img-cont{
   width: 100%;
   height: auto;
   margin: 20px auto;
}

.rodape{
   background-color: #fff;
   padding: 40px 0 20px 0;
}

.borda{
   border-top: 1px solid #333;
}

.img-logo-rodape{
   width: 50%;
   height: auto;
   max-width: 180px;
   margin: 20px auto;
}

.texto-rodape{
   color: #000;
   font-family: 'Merriweather', serif;
   font-size: 0.85rem;
}

.texto-rodape small{
   color: #999;
}   

.texto-rodape a{
   color: #000;
   padding-right: 5px;
   padding-left: 5px;
}

.texto-rodape a:hover{
   color: #850000;
}

.img-cont2{
   display: block;
   width: 80%;
   height: auto;
   margin: 20px auto;
}

@media screen and (max-width: 600px) {

   h3{
      font-size: 26px;
   }

   .img-cont2{
      width: 100%;
   }

   .img-logo-rodape{
      max-width: 160px;
   }

   .botao{
      padding: 15px;
   }   

   .titulo-topo-1{
      font-size: 1.8rem;
   }   

   .img-logo{
      width: 60%;
      height: auto;
      max-width: 180px;
   }

}